$font-stack:    Roboto;
$primary_color: #333;
$heading_color: green;

body {
  font: 100% $font-stack;
  color: $primary_color;
}
.nav{
background-color: #990012;
border-bottom: 1px solid #fff;
}

.nav{
	color: black;
	li{
		display: inline-block;
	}
}

h1{
	color: $heading_color ;
}